body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 300px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  color: #2f6b2f;
  text-align: center;
}

label {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}

form {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2f6b2f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #256125;
}

.link-voltar {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #1a3c34;
  text-decoration: none;
}

.link-voltar:hover {
  text-decoration: underline;
}
