/* ============================================
   IMPORTS
   ============================================ */
@import url('dashboard.css');

/* ============================================
   ESTILOS ESPECÍFICOS DASHBOARDADM
   ============================================ */
.titulo {
    text-align: center;
}

/* Tabela */
.tabela-container {
    margin-left: 20%;
    /* Espaço para o painel lateral */
    padding: 20px;
    flex-grow: 1;
    overflow-x: auto;
    /* Scroll horizontal se necessário */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Responsividade: Ajusta o layout para telas menores */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: relative;
    }

    .tabela-container {
        margin-left: 0;
    }
}